:root {
    --boardWidth : 5%; 
}
body{
    display: flex;
    background-color: rgb(60, 60, 60);
    color: beige;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    

}
#board{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(49, 49, 49);
    width: 80vh;
    aspect-ratio: 1/1;
    background-image: url('../assets/images/board.png');
    background-size:cover;
    
}

.sqr {
    width:  var(--boardWidth); /*this is 100% of the board element divided by 20 which 
    is the row length we're creating initially*/
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    background-size: cover ;
    border-radius: 5px;
    border: 0.3px solid black;
    box-sizing: border-box;
}
#score-board{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10vw;
}